In [22]:
from pyspark.sql import Row

In [23]:
from pyspark.sql import SparkSession

In [24]:
spark = SparkSession.builder

In [26]:
spark

In [30]:
2+2

4

## This is a markdown cell, notes for me!

In [31]:
x = 'string'

In [32]:
x

'string'

In [34]:
x.upper()

'STRING'

In [35]:
type(1)

int

In [36]:
type(1.0)

float

In [37]:
1*3

3

In [38]:
1/2

0.5

In [39]:
2**4

16

In [40]:
4 % 2

0

In [42]:
(2+3)*(5+5)

50

In [43]:
name_of_var = 2

In [45]:
x=1
y=2

In [46]:
x+y

3

In [47]:
'string'

'string'

In [48]:
"double"

'double'

In [49]:
"I don't like that"

"I don't like that"

In [50]:
print("hello")

hello

In [51]:
"hello"

'hello'

In [53]:
print("My name is {}, my number is {}".format('Jose','25'))

My name is Jose, my number is 25

In [54]:
print("First:{x} Second {y}".format(x='XXX', y='YYY'))

First:XXX Second YYY

In [55]:
[1,2,3]

[1, 2, 3]

In [56]:
['a','b','c']

['a', 'b', 'c']

In [57]:
[1,'a']

[1, 'a']

In [58]:
mylist = ['a','b','c']

In [59]:
mylist[0]

'a'

In [60]:
mylist[-1]

'c'

In [61]:
mylist[0] = 'NEW'

In [62]:
mylist

['NEW', 'b', 'c']

In [63]:
mylist.append('5')

In [64]:
mylist

['NEW', 'b', 'c', '5']

In [65]:
mylist = [1,2,[100,200]]

In [66]:
mylist[2]

[100, 200]

In [67]:
mylist[2][1]

200

In [68]:
d = {'key1':'value1', 'key2':'value2'}

In [70]:
d['key1']

'value1'

In [72]:
print (d)

{'key1': 'value1', 'key2': 'value2'}

In [73]:
t = (1,2,3)

In [74]:
{1,2,3}

{1, 2, 3}

In [75]:
1==1

True

In [76]:
1<0

False

In [77]:
'a' == 'a'

True

In [78]:
1!=2

True

In [79]:
(1==2) and ('a' == 'a')

False

In [80]:
(1==2) or ('a' == 'a')

True

In [81]:
if 1==1:
    print('yea!')

yea!

In [82]:
if 1==2:
    print('yeah!')

In [84]:
if 1==2:
    print('worked!')
elif 3==3:
    print('second cond true')
else:
    print('nope!')

second cond true

In [85]:
seq = [1,2,3,4,5]

In [86]:
for item in seq:
    print(item)

1
2
3
4
5

In [87]:
for element in seq:
    print('hi')

hi
hi
hi
hi
hi

In [88]:
for element in seq:
    print(element+element)

2
4
6
8
10

In [89]:
i = 1
while i<6:
    print('i is {}'.format(i))
    i=i+1

i is 1
i is 2
i is 3
i is 4
i is 5

In [91]:
range(5)

range(0, 5)

In [92]:
list(range(5))

[0, 1, 2, 3, 4]

In [93]:
list(range(2,5))

[2, 3, 4]

In [94]:
for x in range(7):
    print('hi')

hi
hi
hi
hi
hi
hi
hi

In [96]:
x = [1,2,3,4,5]
out = []
for num in x:
    out.append(num**2)
print(out)

[1, 4, 9, 16, 25]

In [97]:
[num**2 for num in x]

[1, 4, 9, 16, 25]

In [99]:
def my_func():
    print("hello")

In [100]:
my_func()

hello

In [101]:
def my_func(name):
    print("hello"+name)

In [102]:
my_func('Jose')

helloJose

In [103]:
def my_func(name = 'NO NAME'):
    '''
    This prints out the user name!
    '''
    print('hello'+name)

In [104]:
my_func

In [105]:
my_func(name)

NameError: name 'name' is not defined

In [113]:
def square(x):
    return x**2

In [114]:
result = square(2)

In [115]:
result

4

In [110]:
def square(x):
    print (x**2)

In [111]:
result = square(2)

4

In [116]:
type(result)

int

In [117]:
def times_two(var):
    return var*2

In [118]:
times_two(10)

20

In [119]:
lambda var:var*2

In [120]:
st = 'hello my name is Sam'

In [121]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [122]:
tweet = 'Hello #sports'

In [123]:
tweet.split()

['Hello', '#sports']

In [124]:
tweet.split('#')

['Hello ', 'sports']

In [125]:
tweet.split('#')[-1]

'sports'

In [126]:
d = {'k1':'v1','k2':'v2'}

In [127]:
d.keys()

dict_keys(['k1', 'k2'])

In [128]:
d.items()

dict_items([('k1', 'v1'), ('k2', 'v2')])

In [129]:
mylist = [1,2,3]

In [130]:
last = mylist.pop()

In [131]:
mylist

[1, 2]

In [132]:
last

3

In [2]:
mylist = [1,2,3]

In [134]:
mylist.pop(0)

1

In [3]:
first = mylist.pop(0)

In [4]:
mylist

[2, 3]

In [137]:
first

2

In [138]:
'x' in [1,2,3]

False

In [139]:
1 in [1,2,3]

True

In [140]:
2 in mylist

False

In [1]:
mylist

NameError: name 'mylist' is not defined

In [5]:
7**4

2401

In [6]:
s = "Hi there Sam!"

In [8]:
s.split()

['Hi', 'there', 'Sam!']

In [9]:
planet = "Earth"
diameter = 12742

In [11]:
print("The diameter of {} is {}km".format(planet,diameter))

The diameter of Earth is 12742km

In [13]:
First = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [14]:
First[3][1][2][0]

'hello'

In [15]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [16]:
d['k1']

[1,
 2,
 3,
 {'tricky': ['oh', 'man', 'inception', {'target': [1, 2, 3, 'hello']}]}]

In [17]:
d['k1'][3]

{'tricky': ['oh', 'man', 'inception', {'target': [1, 2, 3, 'hello']}]}

In [18]:
d['k1'][3]['tricky']

['oh', 'man', 'inception', {'target': [1, 2, 3, 'hello']}]

In [19]:
d['k1'][3]['tricky'][3]

{'target': [1, 2, 3, 'hello']}

In [21]:
d['k1'][3]['tricky'][3]['target']

[1, 2, 3, 'hello']

In [22]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

In [23]:
def address_get(email):
    return email.split('@')[-1]

In [26]:
address_get('user@domain.com')

'domain.com'

In [27]:
def find_dog(st):
    return 'dog' in st.lower()

In [28]:
find_dog('Is there a dog here?')

True

In [29]:
def count_dog(st):
    count = 0
    for word in st.lower().split():
        if word == 'dog':
            count += 1
    return count

In [30]:
count_dog('This dog runs fasterthan the other dog dude!')

2

In [31]:
def speed_problem(speed, is_birthday):
    if is_birthday:
        speeding = speed-5
    else:
        speeding = speed
    if speeding > 80:
        return 'Big ticket'
    elif speeding > 60:
        return 'Small ticket'
    else:
        return 'No ticket'

In [32]:
speed_problem(81,True)

'Small ticket'

In [33]:
speed_problem(81,False)

'Big ticket'